@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Sora:wght@300&display=swap");

body {
  font-size: 18px;
  line-height: 1.5;
  background-color: #f5f5dc;
}

h1,
h2,
h3 {
  font-family: "Sora", sans-serif;
}

p {
  font-family: "Hahmlet", serif;
}

header,
footer {
  background-color: #fff;
  border: 1px solid #330000;
  color: #351c75;
  text-align: center;
  align-items: center;
}

.grid-container {
  display: grid;
}

.grid-item {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  align-items: center;
  border: 1px solid #330000;
  margin-top: 10px;
}
.grid-item h3 {
  background-color: #351c75;
  color: #fff;
  margin: 0px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.description {
  margin: 5px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    margin-top: 5px;
  }

  .screenshot {
    width: 200px;
    height: 400px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  main section:nth-child(3) {
    grid-column: span 2;
  }

  .screenshot {
    width: 300px;
    height: 600px;
  }
}

@media only screen and (min-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    margin: 10px;
  }

  .screenshot {
    width: 300px;
    height: 600px;
  }
}
